html .box > .VPImage {
  width: 3.5rem;
  background-color: rgba(0,0,0,0.1);
  padding: 8px;
  border-radius: 12px;
  margin-bottom: 10px!important;
}

html.dark .VPHome{
  background-image: url("../../../public/home-bg.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  width: 100vw;
  /* height: 100vh; */
  /* position: absolute; */
  bottom: 0;
  z-index: -1;
  background-position:bottom center;
  background-attachment:fixed;
}

html .VPDocAside > .VPDocAsideOutline > .content {
  border-left: none;
}
html .VPDocAside > .VPDocAsideOutline > .content > .outline-marker {
  border-left: none;
  left: 1px;
  width: 4px;
  border-radius: 4px;
}